<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>

 <div class="row container">
  <div class="col card card-portrait wr-5">
    <img src="./../images/curry.png" class="card-img-top img-fluid" alt="Chicken curry photo">
    <h4 class="card-title">Chicken curry</h4>
    <p class="card-text">
      Chicken curry is a savory dish made with chicken, vegetables, and spices in a creamy sauce.
    </p>
    <div class="text-center">
      <a href="Curry.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/carbonara.png" class="card-img-top img-fluid" alt="Carbonara photo">
    <h4 class="card-title">Spaghetti Carbonara</h4>
    <p class="card-text">
      Spaghetti Carbonara is a classic Italian pasta dish made with spaghetti, eggs, bacon or pancetta, and Parmesan cheese.
    </p>
    <div class="text-center">
      <a href="Carbonara.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/fajitas.png" class="card-img-top img-fluid" alt="shrimp photo">
    <h4 class="card-title">Chicken Fajitas</h4>
    <p class="card-text">
      Chicken Fajitas are a Tex-Mex dish made with grilled chicken, peppers, onions, and tortillas.
    </p>
    <div class="text-center">
      <a href="Fajitas.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/shrimp.png" class="card-img-top img-fluid" alt="shrimp photo">
    <h4 class="card-title">Garlic Butter Shrimp</h4>
    <p class="card-text">
      Garlic Butter Shrimp is a quick and easy seafood dish made with succulent shrimp cooked in a buttery garlic sauce.
    </p>
    <div class="text-center">
      <a href="Shrimp.html" class="btn btn-primary">See recipe</a>
    </div>
  </div> 
 </div>


 <div class="row container">
  <div class="col card card-portrait wr-5">
    <img src="./../images/banana.png" class="card-img-top img-fluid" alt="banana oatmeal photo">
    <h4 class="card-title">Banana Oatmeal Pancakes</h4>
    <p class="card-text">
      Banana oatmeal pancakes are a simple and nutritious breakfast option made with mashed bananas, rolled oats, and eggs. 
      They are easy to make, and can be topped with a variety of ingredients.
    </p>
    <div class="text-center">
      <a href="Banana.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/toast.png" class="card-img-top img-fluid" alt="Peanut Butter Banana Toast photo">
    <h4 class="card-title">Peanut Butter Banana Toast</h4>
    <p class="card-text">
      A slice of bread is toasted and topped with a layer of creamy peanut butter, then sliced bananas are arranged on top.
      It's easy to make and satisfying to eat, making it a favorite for many people.
    </p>
    <div class="text-center">
      <a href="Toast.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/egg.png" class="card-img-top img-fluid" alt="Scrambled eggs with spinach and tomatoes photo">
    <h4 class="card-title">Scrambled eggs with spinach and tomatoes</h4>
    <p class="card-text">
      Scrambled eggs with spinach and tomatoes is a quick and healthy breakfast recipe that combines fluffy scrambled eggs with fresh spinach and cherry tomatoes. 
    </p>
    <div class="text-center">
      <a href="Egg.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
  <div class="col card card-portrait wr-5">
    <img src="./../images/fish.png" class="card-img-top img-fluid" alt="shrimp photo">
    <h4 class="card-title">Baked salmon</h4>
    <p class="card-text">
      Baked salmon is a healthy and flavorful dish that can be seasoned with herbs, spices, or citrus fruits and cooked in the oven until tender and flaky. 
      It can be served with a side of vegetables.
    </p>
    <div class="text-center">
      <a href="Fish.html" class="btn btn-primary">See recipe</a>
    </div>
  </div>
 </div>
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>