<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div>
      <h3 class="text-center flex-grow-1">Spaghetti Carbonara</h3>
    </div>    
    <div class="text-center">
      <img src="./../images/carbonara.png" class="img-fluid small-image" alt="Spaghetti Carbonara">
    </div>
    <table class="table-custom text-center mx-auto">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Spaghetti</td>
          <td>12 oz</td>
        </tr>
        <tr>
          <td>Bacon or Pancetta</td>
          <td>6 oz, diced</td>
        </tr>
        <tr>
          <td>Egg yolks</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Heavy cream</td>
          <td>1/2 cup</td>
        </tr>
        <tr>
          <td>Parmesan cheese</td>
          <td>1/2 cup, grated</td>
        </tr>
        <tr>
          <td>Salt</td>
          <td>To taste</td>
        </tr>
        <tr>
          <td>Black pepper</td>
          <td>To taste</td>
        </tr>
      </tbody>
    </table>
    
    <div class="ml-2">
      <h5>Directions:</h5>
      <ol type="1">
        <li>Cook the spaghetti according to package instructions. Reserve 1 cup of the pasta cooking water.</li>
        <li>In a skillet, cook the bacon or pancetta over medium heat until crispy. Remove from the skillet and place on a paper towel to drain.</li>
        <li>In a mixing bowl, whisk together the egg yolks, heavy cream, and grated Parmesan cheese.</li>
        <li>Drain the spaghetti and add it to the skillet with the bacon or pancetta. Toss to combine.</li>
        <li>Remove the skillet from heat and let it cool for 1-2 minutes. Then, add the egg mixture to the skillet and stir quickly to combine.</li>
        <li>If the sauce is too thick, add some of the reserved pasta cooking water to thin it out. Season with salt and black pepper, to taste.</li>
        <li>Serve and enjoy!</li>
      </ol>
    </div>
    
  </div>
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>