<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Contact us</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>

	<div class="card text-white w-25">
		<h1>Contact Us</h1>
		<form id="contact-form">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>

			<label for="message">Message:</label>
			<textarea id="message" name="message" rows="5" required></textarea>

			<input type="submit" value="Send">
		</form>
	</div>
  <div class="text-center">
    <img src="./../images/food2.png" class="img-fluid mx-auto mt-3" style="max-height: 300px; width: 650px;">
  </div>
	<script>
		const form = document.getElementById("contact-form");
		form.addEventListener("submit", function(event) {
			event.preventDefault();
			alert("Message sent");
			location.reload();
		});
	</script>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</body>
</html>