<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div>
      <h3 class="text-center flex-grow-1">Chicken Fajitas</h3>
    </div>    
    <div class="text-center">
      <img src="./../images/fajitas.png" class="img-fluid small-image" alt="Chicken Fajitas">
    </div>
    
    <table class="table-custom text-center mx-auto">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Chicken breast</td>
          <td>2, boneless and skinless</td>
        </tr>
        <tr>
          <td>Red bell pepper</td>
          <td>1, sliced</td>
        </tr>
        <tr>
          <td>Green bell pepper</td>
          <td>1, sliced</td>
        </tr>
        <tr>
          <td>Yellow onion</td>
          <td>1, sliced</td>
        </tr>
        <tr>
          <td>Olive oil</td>
          <td>2 tablespoons</td>
        </tr>
        <tr>
          <td>Lime juice</td>
          <td>1/4 cup</td>
        </tr>
        <tr>
          <td>Cumin</td>
          <td>2 teaspoons</td>
        </tr>
        <tr>
          <td>Chili powder</td>
          <td>2 teaspoons</td>
        </tr>
        <tr>
          <td>Garlic powder</td>
          <td>1 teaspoon</td>
        </tr>
        <tr>
          <td>Salt</td>
          <td>1/2 teaspoon</td>
        </tr>
        <tr>
          <td>Tortillas</td>
          <td>6, flour or corn</td>
        </tr>
        <tr>
          <td>Optional toppings:</td>
          <td></td>
        </tr>
        <tr>
          <td>Avocado</td>
          <td>1, sliced</td>
        </tr>
        <tr>
          <td>Sour cream</td>
          <td>1/2 cup</td>
        </tr>
        <tr>
          <td>Salsa</td>
          <td>1/2 cup</td>
        </tr>
        <tr>
          <td>Cilantro</td>
          <td>1/4 cup, chopped</td>
        </tr>
      </tbody>
    </table>
  
    <div class="ml-2">
      <h5>Directions:</h5>
      <ol type="1">
        <li>Preheat the oven to 400°F (200°C).</li>
        <li>Heat the oil in a large oven-safe skillet over medium-high heat.</li>
        <li>Add the chicken to the skillet and cook for 3-4 minutes per side or until browned.</li>
        <li>Add the onions and bell peppers to the skillet and cook for 2-3 minutes or until they start to soften.</li>
        <li>Add the garlic, chili powder, cumin, paprika, salt, and pepper to the skillet and stir to combine.</li>
        <li>Transfer the skillet to the oven and bake for 15-20 minutes or until the chicken is cooked through and the vegetables are tender.</li>
        <li>Serve the fajitas with warm tortillas, sour cream, guacamole, salsa, and lime wedges, if desired.</li>
      </ol>
    </div>
  </div>
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>