<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div>
      <h3 class="text-center flex-grow-1">Baked Salmon</h3>
    </div>    
    <div class="text-center">
      <img src="./../images/fish.png" class="img-fluid small-image" alt="Baked Salmon">
    </div>
    
    <table class="table-custom text-center mx-auto">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Salmon fillets</td>
          <td>4</td>
        </tr>
        <tr>
          <td>Garlic powder</td>
          <td>1 teaspoon</td>
        </tr>
        <tr>
          <td>Paprika</td>
          <td>1 teaspoon</td>
        </tr>
        <tr>
          <td>Salt</td>
          <td>1/2 teaspoon</td>
        </tr>
        <tr>
          <td>Black pepper</td>
          <td>1/4 teaspoon</td>
        </tr>
        <tr>
          <td>Olive oil</td>
          <td>2 tablespoons</td>
        </tr>
        <tr>
          <td>Lemon</td>
          <td>1, sliced</td>
        </tr>
      </tbody>
    </table>
  
    <div class="ml-2">
      <h5>Directions:</h5>
      <ol type="1">
        <li>Preheat the oven to 400°F (200°C).</li>
        <li>Place the salmon fillets on a baking sheet lined with parchment paper.</li>
        <li>In a small bowl, mix together the garlic powder, paprika, salt, and black pepper.</li>
        <li>Sprinkle the spice mixture evenly over the salmon fillets.</li>
        <li>Drizzle the olive oil over the salmon fillets.</li>
        <li>Top each salmon fillet with a few slices of lemon.</li>
        <li>Bake for 12-15 minutes or until the salmon is cooked through and flakes easily with a fork.</li>
        <li>Serve and enjoy!</li>
      </ol>
    </div>
  </div>
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>