<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div>
      <h3 class="text-center flex-grow-1">Garlic Butter Shrimp</h3>
    </div>    
    <div class="text-center">
      <img src="./../images/shrimp.png" class="img-fluid small-image" alt="Garlic Butter Shrimp">
    </div>
    
    <table class="table-custom text-center mx-auto">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Large shrimp</td>
          <td>1 lb.</td>
        </tr>
        <tr>
          <td>Garlic</td>
          <td>3 cloves, minced</td>
        </tr>
        <tr>
          <td>Unsalted butter</td>
          <td>1/4 cup</td>
        </tr>
        <tr>
          <td>Fresh parsley leaves</td>
          <td>1/4 cup, chopped</td>
        </tr>
        <tr>
          <td>Lemon juice</td>
          <td>1 tablespoon</td>
        </tr>
        <tr>
          <td>Salt</td>
          <td>To taste</td>
        </tr>
        <tr>
          <td>Black pepper</td>
          <td>To taste</td>
        </tr>
      </tbody>
    </table>
  
    <div class="ml-2">
      <h5>Directions:</h5>
      <ol type="1">
        <li>In a skillet over medium-high heat, melt butter and sauté garlic until fragrant.</li>
        <li>Add shrimp to the skillet and season with salt and black pepper.</li>
        <li>Cook shrimp for 2-3 minutes on each side, until pink and cooked through.</li>
        <li>Stir in lemon juice and parsley, and cook for another minute.</li>
        <li>Serve immediately. Enjoy!</li>
      </ol>
    </div>
  </div>  
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>