<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../styles.css">
  <title>Easy eats</title>
</head>
<body>
  <nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a href="./../index.html" class="navbar-link">Home</a></li>
      <li class="navbar-item"><a href="./About.html" class="navbar-link">About</a></li>
      <li class="navbar-item"><a href="./Contact.html" class="navbar-link">Contact us</a></li>
    </ul>
  </nav>
  <div class="card w-50 mx-auto mt-3">
    <div>
      <h3 class="text-center flex-grow-1">Peanut Butter Banana Toast</h3>
    </div>    
    <div class="text-center">
      <img src="./../images/toast.png" class="img-fluid small-image" alt="Peanut Butter Banana Toast">
    </div>
    
    <table class="table-custom text-center mx-auto">
      <thead>
        <tr>
          <th>Ingredients</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bread</td>
          <td>1 Slice</td>
        </tr>
        <tr>
          <td>Peanut butter</td>
          <td>1 tablespoon</td>
        </tr>
        <tr>
          <td>Banana</td>
          <td>1/2, sliced</td>
        </tr>
        <tr>
          <td>Honey</td>
          <td>1 teaspoon</td>
        </tr>
      </tbody>
    </table>

    <div class="ml-2">
      <h5>Directions:</h5>
      <ol type="1">
        <li>Toast the bread.</li>
        <li>Spread peanut butter on the toast.</li>
        <li>Cut the banana into thin slices and arrange them on top of the peanut butter.</li>
        <li>Drizzle with honey, if desired.</li>
        <li>Serve and enjoy!</li>
      </ol>
    </div>
  </div>
</body>
<footer>
  <p>&copy; 2023 Easy Eats. All rights reserved.</p>
</footer>
</html>